name: Conventional Commits

on:
    push:
      paths:
        - "**"
      branches:
        - "feature/*"     
    pull_request:
      paths:
        - "**"
      branches:
        - "main"
    release:
      types: [published]

jobs:
  build:
    name: Conventional Commits
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - uses: webiny/action-conventional-commits@v1.3.0
        with:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }} # Optional, for private repositories.
          allowed-commit-types: "feat,fix,build,chore,ci,docs,style,refactor,perf,test,revert" # Optional, set if you want a subset of commit types to be allowed.
